.header .header_wrapper {
  z-index: 10000;
}

.front .feature {
  height: 290px;
}

ul.primary_links li:hover .primary-dropdown {
  display: none;
  visibility: none;
}

.block-menu ul.menu li.active-trail {
  height: 30px;
  line-height: 30px;
}

.block-menu ul.menu li.leaf {
 list-style-image: none;
}