/*
** =layout
*/
body {
  margin-bottom: 1.5em;
  background-color: #f0ede8;
  color: #231f16;  
}

a {
  color: #9E2D1F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}


.header {
  background-color: #9E2D1F;
  border-bottom: 1px solid #811F10;
}

.header .container_12 {
  position: relative;
  height: 149px;  
}

.header h1 {
  position: absolute;
  left: -18px;
  bottom: 0;
  width: 377px;
  height: 131px;
  margin: 0;
  padding: 0;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
}

.header h1 a {
  display: block;
  width: 376px;
  height: 130px;
  text-indent: -1000em;
  overflow: hidden;
}

.twitter_icon {
  position: absolute;
  left: 433px;
  top: 60px;
  width: 48px;
  height: 48px;
  background-image: url(../images/twitter_icon.png);
  background-repeat: no-repeat;  
}

.twitter_message {
  position: absolute;
  left: 473px;
  top: 20px;
  width: 422px;
  height: 57px;
  padding: 8px 24px 8px 32px;
  background-image: url(../images/twitter_bubble.png);
  background-repeat: no-repeat;
}

.twitter_message a {
  font-weight: bold;
}

.main {
  background-image: url(../images/main_bg.png);
  background-repeat: repeat-y;
}

body.sidebar-right .main {
  background-image: url(../images/sidebar-right_main_bg.png);
}

body.sidebar-right .main .wrapper {
  background-image: url(../images/main_wrapper_bg.png);
  background-repeat: no-repeat; 
}

.sidebar-right {
}

.bottom {
  height: 5px;
  background-image: url(../images/main_bottom_bg.png);
  background-position: bottom 1px;
  background-repeat: no-repeat;
}

body.sidebar-right .bottom {
  background-image: url(../images/sidebar-right_main_bottom_bg.png);  
}

/*
** =footer
*/
.footer, 
.footer a {
  color: #959391;
}

.footer a.givecamp {
  display: block;
  height: 56px;
  width: 97px;
  margin: 0 auto;  
  background-image: url(../images/givecamp.png);    
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -1000em;
  overflow: hidden;
}

.footer a.michgivecamp {
  display: block;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.footer ul {
  list-style: square;
}

.footer ul li {
  font-size: 16px;
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.footer ul ul li {
  font-size: 13px;
}

/*
** =primary
*/
ul.primary_links {
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 34px;
  line-height: 34px;
}

ul.primary_links li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
/*  background-color: #741B0D;*/
}

ul.primary_links li.active-trail,
ul.primary_links li:hover {
  background-image: url(../images/primary_bg.png);
  background-repeat: repeat-x;  
}

ul.primary_links li a {
  display: block;
  padding-left: 17.5px;
  padding-right: 17.5px;
  height: 34px;
  line-height: 34px;  
  color: #faf1ae;
  text-decoration: none;
  background-image: url(../images/primary_links.png);    
  background-repeat: no-repeat;
  background-position: center left;
  text-indent: -1000em;
}

ul.primary_links li.menu-207 a {
  width: 38px;
  background-position: 17.5px 10px;  
}

ul.primary_links li.menu-208 a {
  width: 92px;
  background-position: -60px 10px;    
}

ul.primary_links li.menu-209 a {
  width: 75px;
  background-position: -193px 10px;      
}

ul.primary_links li.menu-210 a {
  width: 68px;
  background-position: -306px 10px;        
}

ul.primary_links li.menu-211 a {
  background-position: -408px 10px;        
  width: 57px;
}

.menu-207.active a,
.menu-207 a:hover,
.menu-208.active a,
.menu-208 a:hover,
.menu-209.active a,
.menu-209 a:hover,
.menu-210.active a,
.menu-210 a:hover,
.menu-211.active a,
.menu-211 a:hover {
  background-image: url(../images/primary_links_hl.png);      
}

/*
** =about-dropdown 
**
** This is appended to the About primary menu through jQuery.  
**
** Reference: navigation.js
*/
.primary-dropdown {
  position: absolute;
  display: none;  
  z-index: 1;
  width: 400px;
  padding: 10px 0;
  line-height: 1.5;  
  background-color: #9E2D1F;
  border-top: 1px solid #811F10;
  border-bottom: 3px solid #811F10;
}

.primary-dropdown .link {
  z-index: 2;
  margin: 0 10px;
  margin-bottom: 0.25em;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid transparent;
}
  
.primary-dropdown .link:hover {
  background-color: #811F10;
  border-bottom: 1px solid #872B1D;  
}

.primary-dropdown dl {
  margin: 0;
}

.primary-dropdown dt {
  float: left;
  width: 35.5%;
  padding-right: 5px;
  text-align: right;
}

.primary-dropdown dd {
  float: left;
  width: 60.5%;  
  margin-top: 2px;
  padding-left: 5px;  
  color: #eee;
  font-size: 11px;  
}

.primary-dropdown .link dl dt a {
  display: block;
  padding: 0;
  text-indent: 0;
  height: auto;
  width: auto;
  background: 0;
  line-height: 1.5;
}

.primary-dropdown .link:hover dl dt a {
  text-decoration: underline;
}

.primary-dropdown .link dl dt a:hover {
  background: 0;
}

ul.primary_links li.menu-207:hover .primary-dropdown,
ul.primary_links li.menu-208:hover .primary-dropdown {
  display: block;
}

/*
** =feature
*/
.front .feature_wrapper {
  padding: 10px 0;
  background-color: #f9f4d1;
  border-bottom: 1px solid #e3ddb1;
}

.front .feature {
  height: 250px;
  background-image: url(../images/feature_bg.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.front .feature .tabs {
  padding: 10px 0;
}

.front .feature .tab {
  display: none;
  position: relative;  
  height: 230px;
  background-position: top right;
  background-repeat: no-repeat;
}

.front .feature.tab1 .tab1,
.front .feature.tab2 .tab2,
.front .feature.tab3 .tab3,
.front .feature.tab4 .tab4 {
  display: block;
}

.front .feature .tab.non-profit {
  background-color: #d3effb;  
  background-image: url(../images/feature_notebook.png);
}

.front .feature .tab.volunteer {
  background-image: url(../images/feature_volunteers.jpg);
}

.front .feature .tab.helper {
  background-image: url(../images/feature_non_tech_volunteers.jpg);
}

.front .feature .tab.sponsor {
  background-image: url(../images/feature_sponsor.jpg);
}

.front .feature .tab .content {
  padding: 10px;
}

.front .feature .tab h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: bold;
}

.front .feature .tab.non-profit h3 {
  color: #8cc9e3;  
}

.front .feature .tab.non-profit h3 span {
  color: #666;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.front .feature .tab.volunteer h3 {
  color: #fff;
}

.front .feature .tab p {
  margin: 0 0 1em 0;
  font-size: 1em;
/*  font-weight: bold;*/
  color: #666;
}

.front .feature .tab.volunteer p {
  color: #c1c1c1;
}

.front .feature .tab .links {
  position: absolute;
  bottom: 20px;
  right: 0;
  height: 40px;
  line-height: 40px;
}

.front .feature .tab.volunteer .links {
  color: #efefef;
}

.front .feature .tab.volunteer .links a {
  color: #F8D452;
}

.front .feature .tab a {
  font-weight: bold;
}

.front .feature .tab .links a.button {
  float: left;
  width: 240px;
  height: 40px;
  margin-right: 0.25em;
  color: #383838;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  text-shadow: #fff 1px 1px 0px;  
  text-align: center;
  background-image: url(../images/feature_button.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.front .feature a.button:hover {
  text-decoration: none;
}

.front .feature a.button:active {
  background-image: url(../images/feature_button_active.png);  
}

.front .feature ul {
  margin: 0;
  padding: 0;
}

.front .feature ul li {
  width: 240px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  background-image: url(../images/feature_tab_bg.png);
  background-position: top right;
  background-repeat: no-repeat;  
}

.front .feature.tab1 ul li.tab1,
.front .feature.tab2 ul li.tab2,
.front .feature.tab3 ul li.tab3,
.front .feature.tab4 ul li.tab4 {
  background-image: url(../images/feature_tab_active.png);  
}

.front .feature ul li a {
  display: block;
  text-align: center;
  color: #aaa;
  font-size: 12px;
  text-transform: uppercase;
}

.front .feature.tab1 ul li.tab1 a,
.front .feature.tab2 ul li.tab2 a,
.front .feature.tab3 ul li.tab3 a,
.front .feature.tab4 ul li.tab4 a,
.front .feature ul li a:hover {
  color: #747474;
  font-weight: bold;
}

.front .main {
  padding: 10px 0 6px;
}

.front .block h2 {
  height: 36px;
  margin: 0;
  padding: 0 12px;
  color: #3E434A;
  line-height: 36px;
  font-size: 15px;
  font-weight: normal;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;  
  background-image: url(../images/frontpage_block_header_bg.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.front .block .content {
  height: 230px;
  padding: 10px;
  background-image: url(../images/frontpage_block_content_bg.png);
  background-position: top right;
  background-repeat: no-repeat;  
}

.front .block .content a.twitter {
  display: block;
  width: 250px;
  height: 75px;
  margin: 0 auto;
  background-image: url(../images/twitter.png);
  background-position: center center;
  background-repeat: no-repeat;    
  text-indent: -1000em;
  overflow: hidden;
}

.front .block .content a.facebook {
  display: block;
  width: 270px;
  height: 75px;
  margin: 0 auto;  
  background-image: url(../images/facebook.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: -1000em;
  overflow: hidden;
}

/*
** =main
*/
.main .center_header {
  margin-left: -7px;
  margin-right: -11px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #FAF2B6;
  background-image: url(../images/title_bg.png);
  background-position: bottom left;
  background-repeat: repeat-x;
}

.main .center_header .breadcrumb {
  display: none;
  padding: 0;
}

.main .center_header .breadcrumb a {
  color: #ad2809;
  font-size: 11px;
  text-decoration: none;
}

.main .center_header h2 {
  margin: 0;
  padding-bottom: 10px;  
  color: #231f16;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.main .center_header .tabs.primary {
  border: 0;
  margin: 0;
  padding: 0;
}

.main .center_header .tabs.primary li {
  float: left;
  margin-left: 0;  
}

.main .center_header .tabs.primary li a {
  display: block;
  padding: 0.25em 1em;
  color: #515151;
  border: 0;
  background-color: #F9ED4C;  
}

.main .center_header .tabs.primary li.active a {
  font-weight: bold;
  color: #231f16;
  background-color: #fff;
}

.main .center .content {
  padding-top: 10px;
}

/*
** =sidebar
*/
.sidebar #search {
  height: 62px;
  line-height: 58px;
  margin-left: -9px;
  margin-right: -7px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #231f16;
}

.sidebar #search .form-text {
  width: 190px;
  height: 23px;
  padding-left: 20px;
  padding-right: 12px;
  color: #efefef;
  font-size: 12px;
  background-image: url(../images/search.png);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
}

.sidebar #search .form-submit,
.sidebar #search label {
  display: none;
}

/*
** =menu
*/
.block-menu {
  margin-bottom: 1.5em;
}

.block-menu h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.block-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-menu ul li {
  margin: 0;
  padding: 0 0.5em;  
  list-style: none;
  background-image: url(../images/menu_divider.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.block-menu ul li.last {
  background: 0;
}

.block-menu ul li a {
  color: #231f16;
  font-size: 12px;
  line-height: 30px;
  text-decoration: none;
}

.block-menu ul li a:hover {
  text-decoration: underline;
}

.block-menu ul li.active-trail {
  margin-top: -2px;
  margin-left: -26px;
  margin-right: -8px;
  padding-left: 32px;
  background-image: url(../images/menu_active.png);
  background-position: left center;
  background-repeat: no-repeat;  
}

.block-menu ul li.active-trail a {
  font-weight: bold;
}

/*
** =navigation
*/
.block-user {
  margin-bottom: 1.5em;
}

.block-user h2 {
  margin: 0 0 8px 0;
  font-size: 18px;  
}

.block-user ul.menu {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

.block-user ul.menu ul {
  margin-left: 0em; /* LTR */
}

.block-user ul.menu li, 
.block-user li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

.block-user ul.menu li, 
.block-user li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(../images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}

.block-user ul li.expanded {
  background: transparent url(../images/menu-expanded.gif) no-repeat 1px .35em; /* LTR */
}

.block-user ul li.collapsed {
  background: transparent url(../images/menu-collapsed.gif) no-repeat 0px .35em; /* LTR */
}

.block-user ul li.leaf a, 
.block-user ul li.expanded a, 
.block-user ul li.collapsed a {
  display: block;
  color: #231f16;
  font-size: 12px;
  text-decoration: none;  
}

.block-user ul li a:hover {
  text-decoration: underline;
}

.block-user ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

/*
** =webform
*/
.webform-component-fieldset {
	margin: 0 0 1.5em 0;
	padding: 0 0 0 1.5em;
	border-top: 1px solid #ccc;	
}

.webform-component-fieldset legend {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0;
	padding: 0 0.25em 0;
	background-color: #fff;
}

.webform-component-fieldset .webform-component-fieldset {
	padding: 0 0 0 0.5em;  
}

.webform-component-fieldset .webform-component-fieldset legend {
  font-size: 1em;
}

.webform-component-select {
  float: left;
  margin: 0;
}

.webform-component-select > .form-item {
  float: left;
  margin: 0;
}

/* first name */
#webform-component-first_name,
#webform-component-last_name,
#edit-submitted-organization-address-city,
#webform-component-city,
#webform-component-state,
#webform-component-zip {
  float: left;
  margin-right: 1em;  
}

#edit-submitted-about-you-first-name,
#edit-submitted-about-you-last-name,
#edit-submitted-contact-company-name,
#edit-submitted-organization-name {
  font-size: 1.5em;
}

#webform-component-proficient_lanaguages {
  margin-bottom: 1.5em;
}

#webform-client-form-12 .form-checkboxes {
  float: left;
  margin: 0;
}

#webform-client-form-12 .form-checkboxes .form-item {
  float: left;
  width: 15em;
	margin: 0;
}

#webform-client-form-12 .form-checkboxes .form-item p {
  display: inline;
}

#webform-client-form-13 .textarea-identifier {
	display:none;
}

#webform-client-form-13 .form-radios {
  float: left;
  margin: 0 0 1.5em;
}

#webform-client-form-13 .form-radios .form-item {
  float:left;
}

.webform-component-fieldset,
#edit-submitted-organization-annual-budget-wrapper,
#edit-submitted-givecamp-representative-who-will-be-attending-wrapper,
.form-radios div,
.webform-component-markup,
#edit-submitted-who-will-be-attending-wrapper,
#webform-component-birthdate,
#webform-component-country,
#webform-client-form-13 #webform-component-county,
#webform-component-if_so_how_much_will_they_attend,
#webform-component-name_of_support_person_who_will_be_maintaining_the_project,
#webform-component-guidestar_link_to_confirm_nonprofit_501c3_status,
#webform-client-form-13 .webform-component-textarea {
	clear: both;
}

/*
** =messages
*/
.messages {
	margin-bottom: 1.5em;
	padding: 1em;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
	padding: 1em;
}

.messages.status {
	padding: 1em 1em 1em 3em;
  color: #3a3;	
  border-color: #c7f2c8;
	background: #E2F9E3 url(../images/alertgood_icon.gif) 0.5em 0.9em no-repeat;	
}

.messages.error {
	padding: 1em 1em 1em 3em;
  color: #fff;
	background: #c52020 url(../images/alertbad_icon.gif) 0.5em 0.9em no-repeat;
}

div.error a {
	color: #E78563;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #494949;
}

/*
** =view-press-releases
*/
#block-views-press_releases-block_1 h2 {
  font-size: 1.25em;
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.view-press-releases .views-field-field-publish-date-value,
.view-press-releases .views-field-nothing,
.view-press-releases .views-field-title {
  display: inline;
}