/*
** =layout
*/
body {
  background-color: #f0ede8;
}

.header {
  background-color: #9E2D1F;
  border-bottom: 1px solid #811F10;
}

.header .container_12 {
  position: relative;
  height: 149px;  
}

.header h1 {
  position: absolute;
  left: -18px;
  bottom: 0;
  width: 376px;
  height: 130px;
  margin: 0;
  padding: 0;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
}

.header h1 a {
  display: block;
  width: 376px;
  height: 130px;
  text-indent: -1000em;
  overflow: hidden;
}

.twitter_icon {
  position: absolute;
  left: 433px;
  top: 60px;
  width: 48px;
  height: 48px;
  background-image: url(../images/twitter_icon.png);
  background-repeat: no-repeat;  
}

.twitter_message {
  position: absolute;
  left: 473px;
  top: 20px;
  width: 422px;
  height: 57px;
  padding: 8px 24px 8px 32px;
  background-image: url(../images/twitter_bubble.png);
  background-repeat: no-repeat;
}

.main {
  background-image: url(../images/main_bg.png);
  background-repeat: repeat-y;
}

body.sidebar-right .main {
  background-image: url(../images/sidebar-right_main_bg.png);
}

body.sidebar-right .main .wrapper {
  background-image: url(../images/main_wrapper_bg.png);
  background-repeat: no-repeat; 
}

.sidebar-right {
}

.bottom {
  height: 5px;
  background-image: url(../images/main_bottom_bg.png);
  background-position: bottom 1px;
  background-repeat: no-repeat;
}

body.sidebar-right .bottom {
  background-image: url(../images/sidebar-right_main_bottom_bg.png);  
}

/*
** =primary
*/
ul.primary_links {
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 34px;
  line-height: 34px;
}

ul.primary_links li {
  float: left;
  margin: 0;
  padding: 0;
/*  background-color: #741B0D;*/
}

ul.primary_links li.active-trail,
ul.primary_links li:hover {
  background-image: url(../images/primary_bg.png);
  background-repeat: repeat-x;  
}

ul.primary_links li a {
  display: block;
  padding-left: 17.5px;
  padding-right: 17.5px;
  height: 34px;
  line-height: 34px;  
  color: #faf1ae;
  text-decoration: none;
  background-image: url(../images/primary_links.png);    
  background-repeat: no-repeat;
  background-position: center left;
  text-indent: -1000em;
/*  overflow: hidden;*/
}

ul.primary_links li.menu-207 a {
  width: 38px;
  background-position: 17.5px 10px;  
}

ul.primary_links li.menu-208 a {
  width: 96px;
  background-position: -60px 10px;    
}

ul.primary_links li.menu-209 a {
  width: 79px;
  background-position: -191px 10px;      
}

ul.primary_links li.menu-210 a {
  width: 56px;
  background-position: -310px 10px;        
}

ul.primary_links li.menu-211 a {
  background-position: -404px 10px;        
  width: 57px;
}

ul.primary_links li.menu-207.active a,
ul.primary_links li.menu-207 a:hover,
ul.primary_links li.menu-208.active a,
ul.primary_links li.menu-208 a:hover,
ul.primary_links li.menu-209.active a,
ul.primary_links li.menu-209 a:hover,
ul.primary_links li.menu-210.active a,
ul.primary_links li.menu-210 a:hover,
ul.primary_links li.menu-211.active a,
ul.primary_links li.menu-211 a:hover {
  background-image: url(../images/primary_links_hl.png);      
}

/*
** =main
*/
.main .center_header {
  margin-left: -7px;
  margin-right: -11px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #FAF2B6;
  background-image: url(../images/title_bg.png);
  background-position: bottom left;
  background-repeat: repeat-x;
}

.main .center_header .breadcrumb {
  display: none;
  padding: 0;
}

.main .center_header .breadcrumb a {
  color: #ad2809;
  font-size: 11px;
  text-decoration: none;
}

.main .center_header h2 {
  margin: 0;
  padding-bottom: 10px;  
  color: #231f16;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

.main .center_header .tabs.primary {
  border: 0;
  margin: 0;
  padding: 0;
}

.main .center_header .tabs.primary li {
  float: left;
  margin-left: 0;  
}

.main .center_header .tabs.primary li a {
  display: block;
  padding: 0.25em 1em;
  color: #515151;
  border: 0;
  background-color: #F9ED4C;  
}

.main .center_header .tabs.primary li.active a {
  font-weight: bold;
  color: #231f16;
  background-color: #fff;
}

.main .center .content {
  padding-top: 10px;
}

/*
** =sidebar
*/
.sidebar #search {
  height: 62px;
  line-height: 58px;
  margin-left: -9px;
  margin-right: -7px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #231f16;
}

.sidebar #search .form-text {
  width: 190px;
  height: 23px;
  padding-left: 20px;
  padding-right: 12px;
  color: #efefef;
  font-size: 12px;
  background-image: url(../images/search.png);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
}

.sidebar #search .form-submit,
.sidebar #search label {
  display: none;
}

/*
** =menu
*/
.block-menu {
  margin-bottom: 1.5em;
}

.block-menu h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.block-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-menu ul li {
  margin: 0;
  padding: 0 0.5em;  
  list-style: none;
  background-image: url(../images/menu_divider.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.block-menu ul li.last {
  background: 0;
}

.block-menu ul li a {
  color: #231f16;
  font-size: 12px;
  line-height: 30px;
  text-decoration: none;
}

.block-menu ul li a:hover {
  text-decoration: underline;
}

.block-menu ul li.active-trail {
  margin-top: -2px;
  margin-left: -26px;
  margin-right: -8px;
  padding-left: 32px;
  background-image: url(../images/menu_active.png);
  background-position: left center;
  background-repeat: no-repeat;  
}

.block-menu ul li.active-trail a {
  font-weight: bold;
}

/*
** =navigation
*/
.block-user {
  margin-bottom: 1.5em;
}

.block-user h2 {
  margin: 0 0 8px 0;
  font-size: 18px;  
}

.block-user ul.menu {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

.block-user ul.menu ul {
  margin-left: 0em; /* LTR */
}

.block-user ul.menu li, 
.block-user li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

.block-user ul.menu li, 
.block-user li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(../images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}

.block-user ul li.expanded {
  background: transparent url(../images/menu-expanded.gif) no-repeat 1px .35em; /* LTR */
}

.block-user ul li.collapsed {
  background: transparent url(../images/menu-collapsed.gif) no-repeat 0px .35em; /* LTR */
}

.block-user ul li.leaf a, 
.block-user ul li.expanded a, 
.block-user ul li.collapsed a {
  display: block;
  color: #231f16;
  font-size: 12px;
  text-decoration: none;  
}

.block-user ul li a:hover {
  text-decoration: underline;
}

.block-user ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}